.container {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    background: green;
    width: 90%;
    min-height: 80%;
    margin: 20px 20px;
    color:white;
  
}

.end-screen {
    display: none;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrong-letters {
    border: solid;
    width: 150px;
    height: 80px;
    margin: 25px;
    background-color: red;
    color: white;
    font-size: larger;
}

/* .body {
    display: flex;
    background: black;
     */
/* } */

.word{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: navy;
    color: white;
    width: auto;
    max-width: 20%;
    height: 75px;
    padding: 15px;
    margin: 30px 10px;
}


.submit {
    padding: 1px 5px;
    margin: 10px 10px;
    background-color: slategray;
    color: white;
}

.form {
    margin: 20px 20px;
    align-self: center;
}

.controls {
    justify-content: center;
    margin:  30px;
    padding: 10px 100px;
}
