.container {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    background: aqua;
    width: 90%;
    min-height: 80%;
    margin: 20px 20px;
  
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrong-letters {
    border: solid;
    min-width: 100px;
    height: 50px;
    margin: 25px;
}

/* .body {
    display: flex;
    background: black;
     */
/* } */

.word{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: navy;
    color: white;
    width: 50px;
    padding: 30px 20px;
    margin: 30px 10px;
}


.submit {
    padding: 1px 5px;
    margin: 10px 10px;
}

.form {
    margin: 20px 20px;
    align-self: center;
}

.controls {
    justify-content: space-between;
    margin:  30px;
    padding: 10px 100px;
}
